* {
    margin: 0; 
    padding: 0; 
}
.title {
    font-size: 70px;
    text-align: center;
    padding-top: 10%;
}

#my-form {
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
}

table { 
    border-collapse: collapse; border-spacing: 0; 
}

#board { 
    padding: 0px; margin: 0 auto; margin-top: 0px; 
}
#board tr td { 
    width: 150px; 
    height: 150px; 
    border: 1px solid #1c1c1c; 
    font-family: Helvetica; 
    text-align: center; 
    font-size: 30px; 
}
#board tr td:hover { 
    background: #e4e4e4; 
    cursor: pointer; 
}

.container {
    height:190px; 
    padding-top:50px; 
    padding-left:15px; 
    padding-right:15px; 
}

#header {
    text-align: center;
    font-size: 75px;
}

#player1-label {
    float: left;
    width: 25%;
    height:280px;
}

#player2-label {
    float: right;
    width: 25%;
    height:280px;
}
