<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TicTacToeGame</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container">
        <div id="header">
            <div id="player1-label">
                Player 1
            </div>
            <div id="vs-label">
                VS
            </div>
            <div id="player2-label">
                Player 2
            </div>
        </div>
    </div>
    <table id="board" class="hidden">
        <tr class="row">
          <td class="box" id="b00"> </td>
          <td class="box" id="b01"> </td>
          <td class="box" id="b02"> </td>
        </tr>
        <tr class="row">
          <td class="box" id="b10"> </td>
          <td class="box" id="b11"> </td>
          <td class="box" id="b12"> </td>
        </tr>
        <tr class="row">
          <td class="box" id="b20"> </td>
          <td class="box" id="b21"> </td>
          <td class="box" id="b22"> </td>
        </tr>
    </table>
    <script>
        document.getElementById("player1-label").innerHTML = localStorage.getItem("p1value");
        document.getElementById("player2-label").innerHTML = localStorage.getItem("p2value");
    </script>
</body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>  
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="js/index.js"></script>
</html>