* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: bold;
}

#home {
    background-color: limegreen;
}

#game {
    background-color: limegreen;
}

.title {
    font-size: 120px;
    text-align: center;
    padding-top: 5%;
    color: white;
}

label {
    color: white;
    padding-top: 10px;
    font-size: 50px;
}

.button {
    color: grey;
}

#my-form {
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
}

table { 
    border-collapse: collapse; border-spacing: 0; 
}

#board {
    padding: 0px; 
    margin: 0 auto; 
    margin-top: 0px;
}
#board tr td { 
    width: 150px; 
    height: 150px; 
    border: 3px solid green; 
    font-family: Helvetica; 
    text-align: center; 
    font-size: 30px;
    background-color: white;
}

#board tr td:hover { 
    background: #e4e4e4; 
    cursor: pointer; 
}

.box {
    color: darkgreen;
}

.container {
    height: 100px;
    padding-top:50px; 
    padding-left:15px; 
    padding-right:15px;

}

#header {
    text-align: center;
    font-size: 75px;
}

#player1-label {
    font-size: 80px;
    color: white;
    float: left;
    width: 25%;
    height:175px;
}

#vs-label {
    color: white;
    float: left;
    width:50%;
    height: 175px;
}

#player2-label {
    font-size: 80px;
    color: white;
    float: right;
    width: 25%;
    height: 175px;
}